{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.name) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}

    <h1>{{ category.name }}</h1>
    <table class="table">
        <th>Id</th>
        <th>Name</th>
        <th>Content</th>
        {% for article in category.articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
            </tr>
        {% endfor %}
    </table>
{#        <h1>{{ category.name }}</h1>#}
{#        <h3>Article</h3>#}
{#        <table class="table">#}
{#        <th>Id</th>#}
{#        <th>Name</th>#}
{#        <th>Content</th>#}
{#        {% for article in articles|slice(0,3)|reverse %}#}
{#            <tr>#}
{#                <td>{{ article.id }}</td>#}
{#                <td>{{ article.title }}</td>#}
{#                <td>{{ article.content }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#            </table>#}
{% endblock %}